*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
 
}

header {
    background-color: #e4b391 ;
    height: 50%; 
}