*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
 
}

.logo h2{
    font-size: 45px;
    font-weight: 900;


}

.color-orange{
    color: #FD6E0A;

}

header {
    background-color: #FFF8F3 ;
    background: url("../images/developer.png") , url("../images/header_bg.png") , #FFF8F3;
    background-position: top left , bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between ;
    align-items: center
}

nav .menu{

    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items:center ;

}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

nav .menu a:hover{
    color: #FD6E0A;
}

nav .logo h2:hover{

    color:#FD6E0A ;
}

nav  .color-orange:hover{

    color: #181818;
}

.btn{

    background-color: #FD6E0A;
    padding: 18px 35px;
    color: white;
    border: #FD6E0A;
    border-radius: 5px;
    cursor: pointer;

}

.btn:hover{
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    
}

#contact{
    background-color: #FFF8F3;
    color: #FD6E0A;
     padding: 16px 35px;
     border-radius: 5px;
     border-color: #FD6E0A;
     cursor: pointer;
}

#contact:hover{
    background-color: #FD6E0A;
    color: #FFF8F3;
}

#banner{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{

    max-width: 585px ;
}
#banner .banner-content h2{
    font-size: 45px ;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{

    font-size: 85px;
    font-weight: bold ;
    color: #181818;
    margin-bottom: 20px ;
}

#banner .banner-content p{

    font-size: 18px ;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img {

    max-width: 585px ;
    vertical-align: middle ;
}

#about{
    padding-top: 130px;

}

#about .about-container{

    width: 71%;
    max-width: 1140px ;
    margin: 0 auto ;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px  156px;
}

.section-heading{

    max-width: 827px;
    text-align: center;
}

.section-heading h2{

    font-size: 35px;
    margin-bottom:30px ;

}

.section-heading p {

    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

#about .about-container .about-info {

    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{

    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}

.about-info .info-card h4{

    font-size: 20px;
}

#skills .skills-container .sections-heading h2 {

    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 715px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}

#skills .skills-container .sections-heading p {

    margin-left: 385px;
    margin-right: 385px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #757575;
    
}

#skills .skills-container .skill-box  {

    display: flex;
    margin-left: 230PX;
    margin-right: 230PX;
    gap: 30px;

}

.skill-box .skill-card {

    
    border-radius: 10px;
    height: 370px;
    width: 260px;
    margin-bottom: 130px ;

    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
    transform: translateY(-5px);
}

 
.skill-box .skill-card img {

    height: 44px;
    width: 44px;
    margin-top: 32px;
    margin-left: 33px;
    margin-bottom: 28px;
}

.skill-box .skill-card h3 {

     margin-left: 33px;
     margin-bottom: 20px;
     font-size: 20px;
}

.skill-box .skill-card p {

     margin-left: 33px;
     margin-right: 33px;

     font-size: 16px;
     color: #757575;
}